* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-color: #222020;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: rgb(11, 86, 172);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: black;
  font-size: 23px;
}

.minute {
  font-size: 43px;
}
.sec {
  font-size: 34px;
}
.msec {
  font-size: 23px;
}
.button-wrapper {
  width: 450px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.btn-play,
.btn-lap,
.btn-reset,
.lap-clear-button {
  font-size: 15px;
  cursor: pointer;
  padding: 0.7em 3em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  position: relative;
  border: 2px solid;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4), 0 0 9px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.btn-play {
  --green: #1bfd9c;
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
}

.btn-play:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.btn-play:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.btn-play:hover:before {
  transform: translateX(15em);
}

.btn-reset {
  --red: #ff0000;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(255, 0, 0, 0.1) 100%
  );
  color: var(--red);
}

.btn-reset:hover {
  color: #ff8080;
  box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.6),
    0 0 9px 3px rgba(255, 0, 0, 0.2);
}

.btn-reset:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(255, 0, 0, 0.1) 40%,
    rgba(255, 0, 0, 0.1) 60%,
    transparent 100%
  );
}

.btn-reset:hover:before {
  transform: translateX(15em);
}

.btn-lap {
  --yellow: #ffd700;
  background: linear-gradient(
    to right,
    rgba(255, 215, 0, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(255, 215, 0, 0.1) 100%
  );
  color: var(--yellow);
}

.btn-lap:hover {
  color: #ffec80;
  box-shadow: inset 0 0 10px rgba(255, 215, 0, 0.6),
    0 0 9px 3px rgba(255, 215, 0, 0.2);
}

.btn-lap:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(255, 215, 0, 0.1) 40%,
    rgba(255, 215, 0, 0.1) 60%,
    transparent 100%
  );
}

.btn-lap:hover:before {
  transform: translateX(15em);
}

.laps {
  list-style: none;
  color: #f5f5f5;
  text-align: center;
  height: 250px;
  overflow: auto;
  position: relative;
  margin-top: 30px;
}
.laps::-webkit-scrollbar {
  display: none;
}

.lap-item {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 10px;
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #444;
  border-radius: 10px;
  margin-bottom: 10px;
}
.number {
  color: #cccccc;
}

.time-stamp {
  display: inline-block;
  margin-left: 25px;
}

.lap-clear-button {
  display: block;
  bottom: 5vh;
  position: fixed;
  left: 38vw;
  z-index: 1000;
  background-color: rgba(138, 43, 226, 0.5);
  --purple: #8a2be2;
  font-weight: 600;
  background: linear-gradient(
    to right,
    rgba(138, 43, 226, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(138, 43, 226, 0.1) 100%
  );
  color: var(--purple);
}
.lap-clear-button:hover {
  color: #b980ff;
  box-shadow: inset 0 0 10px rgba(138, 43, 226, 0.6),
    0 0 9px 3px rgba(138, 43, 226, 0.2);
}

.lap-clear-button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(138, 43, 226, 0.1) 40%,
    rgba(138, 43, 226, 0.1) 60%,
    transparent 100%
  );
}

.lap-clear-button:hover:before {
  transform: translateX(15em);
}

@media screen and (min-width: 768px) {
  .lap-clear-button {
    left: 44vw;
  }
}

.display-none {
  display: none;
}
